





                                      /********* Developer Rayhan *********
                                            devloperrayhan@gmil.com
                                            Jquery Rs.facebook.com
                                              Bangladesh,Faridpur
                                                  03/24/2024
                                                  02:04 pm
                                      ********* Developer Rayhan ***********/


body{
  scroll-behavior: smooth;
}
*{
    margin: 0px;
    padding: 0px;
    
}
body{
  scroll-behavior: smooth;
}
.ab{
  text-decoration: none;
  color: #ff9f1a; 
}
html,body{
    font-family:Roboto;
    font-size:16px;
    line-height:1.4;
    height:100%;
    margin:0;
    padding:0;
  }
  a{
    text-decoration:none;
    color:inherit;
  }
  .container{
    margin:0 20px;
    overflow:hidden;
    zoom:1;
    }
  .site-content{
    padding-top:66px;
  }
  .header{
    position:fixed;
    left:0;
    right:0;
    height:66px;
    line-height:66px;
    color:#FFF;
    background-color:#303f9f;
  }
  .header__logo{
    font-weight:bold;
    padding:0 25px;
    float:left;
  }
  .menu{
    /* float:left */
    text-align: center;
  }
  .menu a{
    padding:0 10px;
  }
  .menu a:hover{
    color:#c6ff00;
  }
  @media only screen and (max-width: 780px){
    
  
  /* .site-pusher,.site-container{
    height:100%;
  } */
  .site-container{
    overflow:hidden;
  }
  .site-pusher{
    -moz-transition-duration:0.3s;
    -o-transition-duration:0.3s;
    -webkit-transition-duration:0.3s;
    transition-duration:0.3s;
    -moz-transform:translateX(0px);
    -ms-transform:translateX(0px);
    -webkit-transform:translateX(0px);
    transform:translateX(0px);
  }
  .site-content{
    position:absolute;
    top:66px;
    right:0;
    left:0;
    bottom:0;
    padding-top:0;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
  }
  .header{
    position:static;
  }
  .header__icon{
    position:relative;
    display:block;
    float:right;
    width:50px;
    height:66px;
    cursor:pointer;
  }
  .header__icon:after{
    content:'';
    position:absolute;
    display:block;
    width:1rem;
    height:0;
    top:16px;
    left:15px;
    -moz-box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
    -webkit-box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
    box-shadow:0 10px 0 1px #fff,0 16px 0 1px #fff,0 22px 0 1px #fff;
  }
  .menu{
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    overflow-y:scroll;
    -webkit-overflow-scrolling:touch;
    background-color:#2a378b;
    width:250px;
    -moz-transform:translateX(250px);
    -ms-transform:translateX(250px);
    -webkit-transform:translateX(250px);
    transform:translateX(250px);
  }
  .menu a{
    display:block;
    height:40px;
    text-align:center;
    line-height:40px;
    border-bottom:1px solid #303f9f;
  }
  .with--sidebar .site-pusher{
    -moz-transform:translateX(-250px);
    -ms-transform:translateX(-250px);
    -webkit-transform:translateX(-250px);
    transform:translateX(-250px);
  }
      .with--sidebar .site-cache{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(0,0,0,0.6);
      }
    }
.bat{
  height: 40px;
  width: 170px;
  background-color: #3498db;
  top: 55px;
  left: 559px;
  border-radius: 5px;
  font-size: 25px;
  text-align: center;
  line-height: 35px;
  position: relative;
  z-index: 2;
  color: #3498db;
}
.bat::after{
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: #ff9f1a;
  border-radius: 5px;
  height: 40px;
  width: 0px;
  transition: all 0.3s;
  z-index: -1;
}
.bat:hover::after{
  height: 40px;
  width: 170px;
}
.font{
    font-family: "Allison", cursive;
    font-weight: 600;
    font-style: normal;
    color: #FFC312;
    text-align: center;
    margin-top: 130px;
    letter-spacing: 5px;
    word-spacing: 10px;
    font-size: 50px;
}
/* .div-img{
  background-color: var(!important);
} */
.div-img img{
  height: 100px;
  position: relative;
  top: 0px;
  left: 567px;
}
.div-img h2{
  text-align: center;
}
.div-img #lo{
  text-align: center;
}
.imgbb #rem{
  text-align: center;
  position: relative;
  top: 130px;
  left: 0px;
}
.imgbb #bo{
  text-align: center;
  position: relative;
  top: 100px;
  left: 0px;
}
.imgbb{
  background-image: url(https://i.pinimg.com/564x/d4/79/5a/d4795a3623e7f32bbb689bd663991268.jpg);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.facebook-img img{
  height: 100px;
  position: relative;
  top: 0px;
  left: 560px;
}
.facebook-img h3{
  text-align: center;
}
.facebook-img p{
  text-align: center;
}
#sas{
  text-align: center;
  position: relative;
  top: 160px;
  left: 0px;
  color: white;
}
.facebook-content h2{
  text-align: center;
  position: relative;
  top: 120px;
  left: 0px;
  color: white;
}
.facebook-content{
  background-image: url(https://i.pinimg.com/originals/66/94/ef/6694ef74b0a937ff3434ad27dfe0e8f9.gif);
  height: 600px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
.off{
  font-size: 20px;
  color: green;
}
.off::after{
  content: "";
}
.all-uncle img{
  height: 100px;
  position: relative;
  top: 0px;
  left: 570px;
}
.all-uncle h3{
  text-align: center;
}
.all-uncle #hg{
  text-align: center;
}
.uncle h2{
  text-align: center;
  color: white;
  position: relative;
  top: 160px;
  left: 0px;
}
.uncle p{
  text-align: center;
  color: white;
  position: relative;
  top: 200px;
  left: 0px;
}
.uncle{
  background: url(https://i.pinimg.com/originals/0b/c1/55/0bc155f35ccd6b38599512d5da6def9c.gif);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
}
@media (max-width: 768px){  
  .div-img img{
    position: relative;
    top: 0px;
    left: 317px;
  }
  .facebook-img img{
    position: relative;
    top: 0px;
    left: 317px;
  }
  .all-uncle img{
    position: relative;
    top: 0px;
    left: 317px;
  }
}
@media (max-width: 425px){  
  .div-img img{
    position: relative;
    top: 0px;
    left: 150px;
  }
  .facebook-img img{
    position: relative;
    top: 0px;
    left: 150px;
  }
  .all-uncle img{
    position: relative;
    top: 0px;
    left: 150px;
  }
}
@media (max-width: 375px){  
  .div-img img{
    position: relative;
    top: 0px;
    left: 130px;
  }
  .facebook-img img{
    position: relative;
    top: 0px;
    left: 130px;
  }
  .all-uncle img{
    position: relative;
    top: 0px;
    left: 130px;
  }
}
@media (max-width: 320px){  
  .div-img img{
    position: relative;
    top: 0px;
    left: 100px;
  }
  .facebook-img img{
    position: relative;
    top: 0px;
    left: 100px;
  }
  .all-uncle img{
    position: relative;
    top: 0px;
    left: 100px;
  }
}
.video{
  width: 100%;
  height: 80vh; 
}
@media (max-width: 320px){
  .video{
    width: 320px;
    height: 180px;
  }
}
.menu-img{
  height: 60px;
  width: 60px;
}
.ho{
  color: black !important;
}
.ho:hover{
  color: #3498db !important;
}
.ko:hover{
  color: #ff9f1a !important;
}
#fix{
  position: fixed;
  width: 100%;
  margin: auto;
}
@media(max-width: 1024px){
  #fix{
    position: relative;
    top: 0px;
    left: 0px;
  }
}
*{
  margin: 0px;
  padding: 0px;
}